In [1]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/test data/fishing_test.csv",index_col=0)

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/test data/No fishing_test.csv",index_col=0)

In [2]:
data_ab

                                               sentence  predict
2709                                   '그럼 오늘 끝나는 거예요.'        2
7035                              저가 항공권을 판매한다고 올려놓구요.'        2
5626                                 '네에 앞서 말씀 드렸을 거예요'        2
3137   '당일로도 가능하시고 다만 위임 처리하실 경우에는 이제 뭐 수수료는 저희가 대신 ...        1
1767                                  '안 들리시면은 안 들립니다.'        2
...                                                 ...      ...
7369                   '원활한 녹취 진행을 위해서 한 가지 좀 안내해 드리자면'        2
5928                                   '어 그리고 요지 4번 보시면        2
972    '어차피 저는 수사관이기 때문에 저는 본인한테 사건 고지를 해드리고 이 부분에 대...        2
6685                                     국가 수사기관인 저희 검찰        2
8195   '어 이렇게 여쭤보는 이유는 박성재라는 사람이 얼마 전에 수사과에서 금융 사기혐의...        2

[300 rows x 2 columns]

In [3]:
data_nor

                                                sentence  predict
4568                             00구 000로 000로 가시면 됩니다.         0
8561                                     주민센터에서 가능하십니다.         0
3452         서울은 전지역 투기과열지구로 6개월에서 10년까지 전매제한 기간이 있습니다.         0
4626                       네, 맞습니다. 확인 후 조치를 취하도록 하겠습니다.        0
15200                                   구청에서 하실 수 있겠습니다.        0
...                                                  ...      ...
15463  네. 일정기간 희망지역에서 거주하면서 예비 귀농인들에게 필요한 거주공간과 교육을 지...        0
14798             도봉구에서 열리는 문화 행사에는 도봉 역사문화 탐방(이)가 있습니다.        0
8722                                    올해 1월부터 강화되었습니다.        0
13439                            원하는 답변을 드릴 수 있어서 다행입니다.        0
16930     입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0

[300 rows x 2 columns]

In [4]:
data_nor.isnull().sum()

sentence    0
predict     0
dtype: int64

In [5]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
print(data_nor.shape)
print(data_ab.shape)

(300, 2)
(300, 2)

In [7]:
data=pd.concat([data_nor,data_ab])

In [8]:
data

                                                sentence  predict
4568                             00구 000로 000로 가시면 됩니다.         0
8561                                     주민센터에서 가능하십니다.         0
3452         서울은 전지역 투기과열지구로 6개월에서 10년까지 전매제한 기간이 있습니다.         0
4626                       네, 맞습니다. 확인 후 조치를 취하도록 하겠습니다.        0
15200                                   구청에서 하실 수 있겠습니다.        0
...                                                  ...      ...
7369                    '원활한 녹취 진행을 위해서 한 가지 좀 안내해 드리자면'        2
5928                                    '어 그리고 요지 4번 보시면        2
972     '어차피 저는 수사관이기 때문에 저는 본인한테 사건 고지를 해드리고 이 부분에 대...        2
6685                                      국가 수사기관인 저희 검찰        2
8195    '어 이렇게 여쭤보는 이유는 박성재라는 사람이 얼마 전에 수사과에서 금융 사기혐의...        2

[600 rows x 2 columns]

In [9]:
data=data.sample(frac=1)

In [10]:
data

                                            sentence  predict
7546                                      가장가까운 곳입니다        0
4077                                  네. 무엇을 도와드릴까요?        0
3199    '왜냐면은 녹취하는 부분에서 저희가 증거 자료를 남긴다고 녹취하는 부분이잖아요'        2
1689                    http://youth.seoul.go.kr 입니다        0
3204                                    일단은 좀 바쁘세요?'        1
...                                              ...      ...
2966           '그 다음에 가방은 내일 중으로 본 검사 들고 본인 한테 갈게요.'        2
6082                            '가 농협 계좌가 3개가 있잖아요.'        2
384            전화가 끝이나게 되면 담당 검사님 내선 연결을 좀 해드릴 거예요.'        2
13253                                   거긴 예약을 해야합니다        0
13575                      저도 감사합니다. 다음에 또 문의 해 주세요.        0

[600 rows x 2 columns]

In [11]:
data.to_csv("target_data_before_vector.csv(0411)")

In [12]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [13]:
A=model.encode(data.iloc[0,0])

In [14]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [15]:
len(list)

384

In [16]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [17]:
x_test.shape

(600, 384)

In [18]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [19]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [21]:
y_test

    predict
0         0
1         0
2         2
3         0
4         1
..      ...
595       2
596       2
597       2
598       0
599       0

[600 rows x 1 columns]

In [22]:
y_test.isnull().sum()

predict    0
dtype: int64

In [23]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [24]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.004037,0.015092,0.08048,0.001147,0.015044,-0.004086,0.116704,0.01426,0.033923,-0.042625,...,0.05074,0.055143,0.015021,0.043199,0.025461,0.018512,0.071495,0.013152,0.010763,0.001676
1,-0.02266,0.063485,0.07046,-0.008477,0.027963,0.0092,0.156709,0.008068,0.002589,-0.051209,...,-0.052599,0.054298,-0.028564,-0.020263,-0.017858,-0.036849,0.045053,0.088322,-0.060621,0.044057
2,-0.025499,0.077246,0.067781,-0.05485,0.060435,-0.066703,0.09583,-0.000366,-0.027231,-0.068631,...,0.040162,0.056127,0.01793,0.020264,0.031253,-0.039297,0.03275,0.070428,-0.038357,-0.039747
3,-0.067613,0.050103,0.077177,-0.050686,-0.018596,-0.048559,0.070552,-0.031235,-0.013422,0.035447,...,0.097629,0.001279,0.007797,-0.001035,-0.038329,0.041968,0.086358,0.063768,-0.116514,0.00354
4,-0.034459,0.085319,0.056734,-0.044929,0.028212,0.010951,0.19884,0.002505,-0.081178,-0.04942,...,0.02266,-0.001166,-0.00042,0.025733,-0.047758,-0.030549,0.022868,0.131378,-0.04051,-0.126438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,-0.028788,0.055992,-0.021712,-0.076369,-0.001387,-0.048074,0.099361,0.058256,-0.086296,-0.022332,...,0.043587,0.026505,0.01634,-0.036455,0.027753,0.00937,0.009207,0.030723,-0.069821,-0.031224
596,-0.108728,0.08221,0.007462,-0.06039,-0.025288,-0.062919,-0.003403,-0.000105,-0.021907,-0.017866,...,0.066638,0.009463,0.003592,-0.041957,-0.008197,-0.034009,0.04918,0.027613,-0.030699,0.070157
597,-0.03565,0.106807,0.052122,-0.002613,0.036238,-0.065952,0.078544,0.008418,-0.042007,0.009725,...,0.003052,0.041698,0.016419,0.013416,0.011058,-0.03541,0.09526,0.120036,-0.084883,-0.045473
598,-0.058843,0.098371,0.102553,-0.012732,0.029385,-0.042838,0.157745,0.029416,-0.025976,-0.06876,...,0.013679,0.062649,0.026728,0.052828,0.015808,-0.01795,-0.018403,0.041096,-0.063665,-0.052568
599,-0.020854,0.095003,0.095711,-0.007615,0.013794,-0.005723,0.101282,0.010021,-0.038889,-0.015788,...,0.010332,0.065319,0.013596,0.030571,0.037422,-0.002069,0.098257,0.093663,-0.087104,-0.060324

In [25]:
data=pd.concat([x_test,y_test],axis=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.004037,0.015092,0.08048,0.001147,0.015044,-0.004086,0.116704,0.01426,0.033923,-0.042625,...,0.055143,0.015021,0.043199,0.025461,0.018512,0.071495,0.013152,0.010763,0.001676,0
1,-0.02266,0.063485,0.07046,-0.008477,0.027963,0.0092,0.156709,0.008068,0.002589,-0.051209,...,0.054298,-0.028564,-0.020263,-0.017858,-0.036849,0.045053,0.088322,-0.060621,0.044057,0
2,-0.025499,0.077246,0.067781,-0.05485,0.060435,-0.066703,0.09583,-0.000366,-0.027231,-0.068631,...,0.056127,0.01793,0.020264,0.031253,-0.039297,0.03275,0.070428,-0.038357,-0.039747,2
3,-0.067613,0.050103,0.077177,-0.050686,-0.018596,-0.048559,0.070552,-0.031235,-0.013422,0.035447,...,0.001279,0.007797,-0.001035,-0.038329,0.041968,0.086358,0.063768,-0.116514,0.00354,0
4,-0.034459,0.085319,0.056734,-0.044929,0.028212,0.010951,0.19884,0.002505,-0.081178,-0.04942,...,-0.001166,-0.00042,0.025733,-0.047758,-0.030549,0.022868,0.131378,-0.04051,-0.126438,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,-0.028788,0.055992,-0.021712,-0.076369,-0.001387,-0.048074,0.099361,0.058256,-0.086296,-0.022332,...,0.026505,0.01634,-0.036455,0.027753,0.00937,0.009207,0.030723,-0.069821,-0.031224,2
596,-0.108728,0.08221,0.007462,-0.06039,-0.025288,-0.062919,-0.003403,-0.000105,-0.021907,-0.017866,...,0.009463,0.003592,-0.041957,-0.008197,-0.034009,0.04918,0.027613,-0.030699,0.070157,2
597,-0.03565,0.106807,0.052122,-0.002613,0.036238,-0.065952,0.078544,0.008418,-0.042007,0.009725,...,0.041698,0.016419,0.013416,0.011058,-0.03541,0.09526,0.120036,-0.084883,-0.045473,2
598,-0.058843,0.098371,0.102553,-0.012732,0.029385,-0.042838,0.157745,0.029416,-0.025976,-0.06876,...,0.062649,0.026728,0.052828,0.015808,-0.01795,-0.018403,0.041096,-0.063665,-0.052568,0
599,-0.020854,0.095003,0.095711,-0.007615,0.013794,-0.005723,0.101282,0.010021,-0.038889,-0.015788,...,0.065319,0.013596,0.030571,0.037422,-0.002069,0.098257,0.093663,-0.087104,-0.060324,0

In [27]:
data=data.sample(frac=1)

In [28]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
484,-0.004585,0.101774,0.118107,-0.028073,0.004745,-0.071956,0.134532,-0.017067,-0.007471,-0.045676,...,0.065525,0.046087,0.035374,0.039994,-0.040477,0.037649,0.080635,-0.060145,-0.029627,2
285,0.040502,0.060954,0.036751,-0.017693,-0.066583,-0.050226,0.082823,-0.018732,-0.027769,0.034954,...,0.072591,0.068515,0.018855,0.063368,-0.015873,0.026935,0.001779,-0.054063,-0.034769,0
262,0.011764,0.144617,0.007823,-0.003758,0.08721,-0.042204,0.123872,0.011886,0.000553,-0.042479,...,0.060656,0.01542,0.009942,0.056228,-0.044235,0.027218,0.088443,-0.090104,-0.073818,2
520,-0.002005,0.077603,0.020069,-0.049765,0.009021,-0.053886,0.027201,0.080263,0.001754,-0.042598,...,0.060505,0.02234,0.020433,0.035806,-0.008998,0.010465,-0.018144,-0.032701,0.017076,0
578,-0.04368,0.107939,0.09713,0.02079,-0.035272,-0.05847,0.104477,0.057462,-0.055938,-0.027473,...,0.015293,0.002237,0.054778,0.004846,-0.01,0.063769,0.078602,-0.058642,-0.003199,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,0.074244,0.032913,0.076158,0.012873,-0.089808,-0.068568,0.058254,0.05517,-0.009507,-0.011617,...,-0.002813,-0.017888,0.049538,0.073178,0.021802,0.0072,-0.006814,-0.048064,0.015526,0
62,-0.04815,0.070225,0.061928,-0.042352,-0.051447,-0.016567,0.115675,-0.042234,0.010051,-0.003516,...,0.037982,0.058649,-0.012745,0.067019,0.019034,0.105367,0.05886,-0.079134,-0.035495,0
179,0.004503,0.100022,-0.015976,0.000599,-0.022475,-0.043442,0.031896,0.04884,-0.044523,-0.044227,...,0.020282,0.055304,-0.024168,0.012714,0.02787,0.153446,0.045067,-0.026437,0.050248,0
493,-0.024556,0.05763,0.025566,0.008278,-0.059426,0.054495,0.093464,0.010723,-0.038407,0.018644,...,-0.008953,0.014691,-0.013007,-0.012511,0.042981,0.057661,0.038285,0.027469,-0.015746,0
146,0.053903,0.079059,0.042747,0.002329,-0.047954,-0.076276,0.100572,0.046969,-0.006582,-0.069705,...,0.018663,0.013089,0.012469,-0.006188,-0.042501,0.081123,0.072713,-0.062617,-0.038962,1

In [29]:
data=data[:300]

In [30]:
data.shape

(300, 385)

In [31]:
data.to_csv("target_data(0411).csv")